<div class="col inner-spacer center-items">
  <button class="icon" mat-dialog-close matRipple>
    <i class="material-icons">close</i>
  </button>
  <div>I'm not related in any way to ngx-translate.</div>
  <div class="justify-center">This tool is completely free and was made open source for the sole purpose to share
    knowledge and ease the creation and management of translations.</div>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WYPWS4VYBNS9L" target="_blank">
    <app-button icon="attach_money">donate with paypal</app-button>
  </a>
  <a href="https://cv.engin9tools.com/" target="_blank">
    <app-button icon="account_box">my website</app-button>
  </a>
  <a href="https://github.com/Ploppy3/translation-manager" target="_blank">
    <app-button icon="code">GitHub project</app-button>
  </a>
</div>