<form #formDefineChild="ngForm" (ngSubmit)="addChild()" class="row inner-spacer center-items">
  <span>{{kop.key}}</span>
  <button type="button" class="icon" *ngIf="kop.key != 'root' && (isBaseLanguage || (kop.KVPs.length + kop.KOPs.length > 0))"
    (click)="delete.next()" matRipple>
    <i class="material-icons">delete</i>
  </button>
  <ng-container *ngIf="isBaseLanguage">
    <i class="material-icons secondary-text">chevron_right</i>
    <input #inputKopName class="grow" [(ngModel)]="model_formDefineChild.name" name="name" type="text" placeholder="Define new subcategory"
      autocomplete="off" required>
  </ng-container>
  <button class="icon" *ngIf="isBaseLanguage && formDefineChild.valid" matRipple>
    <i class="material-icons">add</i>
  </button>
</form>
<div id="content">

  <form #formCreateKVP="ngForm" (ngSubmit)="onFormCreateKvpSubmit()" *ngIf="isBaseLanguage" class="row inner-spacer center-items">
    <input id="input-key" type="text" [(ngModel)]="model_formCreateKvp.key" name="key" placeholder="key" autocomplete="off" required>
    <input class="grow" type="text" [(ngModel)]="model_formCreateKvp.value" name="value" placeholder="value" autocomplete="off"
      required>
    <button class="icon" *ngIf="formCreateKVP.valid" matRipple>
      <i class="material-icons">add</i>
    </button>
  </form>

  <ng-container *ngIf="kop.missingKVPs.length > 0">
    <div class="row inner-spacer center-items error clickable" (click)="kop.showMissingKVPs = !kop.showMissingKVPs">
      <span>Missing: {{kop.missingKVPs.length}} translations</span>
      <button class="icon" matRipple>
        <i class="material-icons">{{ kop.showMissingKVPs ? 'expand_less' : 'expand_more' }}</i>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="kop.showMissingKVPs">
    <app-fix-missing-key *ngFor="let key of kop.missingKVPs; let i = index; trackBy: trackByMissingKvp" [missingKey]="key" (fix)="onFix($event, i)"></app-fix-missing-key>
  </ng-container>

  <ng-container *ngIf="kop.KVPs.length > 0">
    <div class="row inner-spacer center-items success clickable" (click)="kop.showKVPs = !kop.showKVPs">
      <span>{{ kop.showKVPs ? 'Hide' : 'Show' }} {{kop.KVPs.length}} translations</span>
      <button class="icon" matRipple>
        <i class="material-icons">{{ kop.showKVPs ? 'expand_less' : 'expand_more' }}</i>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="kop.showKVPs">
    <div #kvpElRef (mouseenter)="kvpElRef.showDeleteButton = true" (mouseleave)="kvpElRef.showDeleteButton = false" class="row inner-spacer center-items"
      *ngFor="let kvp of kop.KVPs; trackBy: trackByKvp">
      <span class="mono primary">{{kvp.key}}</span>
      <input class="grow" type="text" [(ngModel)]="kvp.value" (ngModelChange)="translationService.markLanguageDirty$.next(language)"
        autocomplete="off">
      <button class="icon" *ngIf="kvpElRef.showDeleteButton" (click)="dropKey(kvp)" matRipple>
        <i class="material-icons">delete</i>
      </button>
    </div>
  </ng-container>

  <app-kop *ngFor="let _kop of kop.KOPs; trackBy: trackByKop" [kop]="_kop" [language]="language" [isBaseLanguage]="isBaseLanguage"
    (delete)="dropKop(_kop)"></app-kop>

  <!--<pre>{{kop|json}}</pre>-->
</div>