<form class="error row inner-spacer" #formFixMissingKVP="ngForm" (ngSubmit)="onFix.next(model_formFixMissingKVP)">
  <span id="missingKey" class="mono">{{missingKey.key}}</span>
  <div class="col max-width">
    <div class="row">
      <input type="hidden" [(ngModel)]="model_formFixMissingKVP.key" name="key">
      <input #inputValue class="grow" type="text" [(ngModel)]="model_formFixMissingKVP.value" name="value" [placeholder]="missingKey.value"
        autocomplete="off" required>
      <button class="icon" *ngIf="formFixMissingKVP.valid">
        <i class="material-icons">send</i>
      </button>
    </div>
    <div id="missingValue" class="secondary" *ngIf="model_formFixMissingKVP.value?.length > 0">
      {{missingKey.value}}
    </div>
  </div>
</form>