:host {
  display: block;
}
.wrapper-kvp {
  button.onHover {
    display: none;
  }
  &:hover {
    button.onHover {
      display: block;
    }
  }
}
#content {
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px solid rgba($color: #fff, $alpha: .24);
  &>* {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}
#input-key-kvp {
  max-width: 150px;
}
#input-context-kvp,
.input-edit-kvp-context {
  margin-top: 1px;
}