<form #formDefineChild="ngForm" (ngSubmit)="addChild()" class="row inner-spacer center-items">
  <span>{{kop.key}}</span>
  <button type="button" class="icon" *ngIf="kop.key != 'root' && (isBaseLanguage || (kop.KVPs.length + kop.KOPs.length > 0))"
    (click)="delete.next()" matRipple>
    <i class="material-icons">delete</i>
  </button>
  <ng-container *ngIf="isBaseLanguage">
    <i class="material-icons secondary-text">chevron_right</i>
    <button type="button" class="icon" (click)="showCategoryCreator = !showCategoryCreator" matRipple>
      <i class="material-icons">{{showCategoryCreator ? 'cancel' : 'add' }}</i>
    </button>
    <ng-container *ngIf="showCategoryCreator">
      <input #inputKopName class="grow" [(ngModel)]="model_formDefineChild.name" name="name" type="text" placeholder="Define new subcategory"
        autocomplete="off" @fade (@fade.done)="showCategoryCreator ? inputKopName.focus() : null " required>
      <button class="icon" *ngIf="isBaseLanguage && formDefineChild.valid" matRipple>
        <i class="material-icons">add</i>
      </button>
    </ng-container>
  </ng-container>
</form>
<div id="content">

  <!--Form Create KVP-->
  <form #formCreateKVP="ngForm" class="row inner-spacer center-items" (ngSubmit)="onSubmit_FormCreateKvp()" *ngIf="isBaseLanguage">
    <div class="grow">
      <div class="grow flex row inner-spacer">
        <input id="input-key-kvp" type="text" [(ngModel)]="model_formCreateKvp.key" name="key" placeholder="key"
          autocomplete="off" required>
        <input class="grow" type="text" [(ngModel)]="model_formCreateKvp.value" name="value" placeholder="value"
          autocomplete="off" required>
      </div>
      <input id="input-context-kvp" class="max-width" *ngIf="showKvpContextInput" type="text" [(ngModel)]="model_formCreateKvp.context"
        name="context" placeholder="context" autocomplete="off">
    </div>
    <button type="button" class="icon" (click)="showKvpContextInput = !showKvpContextInput" matRipple>
      <i class="material-icons">{{ showKvpContextInput ? 'unfold_less' : 'unfold_more' }}</i>
    </button>
    <button class="icon" *ngIf="formCreateKVP.valid" matRipple>
      <i class="material-icons">add</i>
    </button>
  </form>

  <!--Toggle Missing KVPs-->
  <ng-container *ngIf="kop.missingKVPs.length > 0">
    <div class="row inner-spacer center-items error clickable" (click)="kop.showMissingKVPs = !kop.showMissingKVPs">
      <span>Missing: {{kop.missingKVPs.length}} translations</span>
      <button class="icon" matRipple>
        <i class="material-icons">{{ kop.showMissingKVPs ? 'expand_less' : 'expand_more' }}</i>
      </button>
    </div>
  </ng-container>

  <!--Forms Fix Missing KVPs-->
  <ng-container *ngIf="kop.showMissingKVPs">
    <app-fix-missing-key *ngFor="let key of kop.missingKVPs; let i = index; trackBy: trackByMissingKvp" [missingKvp]="key"
      (fix)="onFix($event, i)"></app-fix-missing-key>
  </ng-container>

  <!--Toggle KVPs-->
  <ng-container *ngIf="kop.KVPs.length > 0">
    <div class="row inner-spacer center-items success clickable" (click)="kop.showKVPs = !kop.showKVPs">
      <span>{{ kop.showKVPs ? 'Hide' : 'Show' }} {{kop.KVPs.length}} translations</span>
      <button class="icon" matRipple>
        <i class="material-icons">{{ kop.showKVPs ? 'expand_less' : 'expand_more' }}</i>
      </button>
    </div>
  </ng-container>

  <!--KVPs-->
  <ng-container *ngIf="kop.showKVPs">
    <div #kvpElRef class="row inner-spacer center-items" (mouseenter)="kvpElRef.showDeleteButton = true" (mouseleave)="kvpElRef.showDeleteButton = false"
      *ngFor="let kvp of kop.KVPs; trackBy: trackByKvp">
      <div class="grow">
        <div class="row inner-spacer center-items">
          <span class="mono primary">{{kvp.key}}</span>
          <input class="grow" type="text" [(ngModel)]="kvp.value" (ngModelChange)="translationService.markLanguageDirty$.next(language)"
            autocomplete="off">
        </div>
        <div class="grow row inner-spacer center-items" *ngIf="isBaseLanguage && kvp.context != null">
          <i class="grow material-icons secondary-text">subdirectory_arrow_right</i>
          <span class="secondary-text">Context:</span>
          <input class="input-edit-kvp-context max-width" type="text" [(ngModel)]="kvp.context" (ngModelChange)="translationService.markLanguageDirty$.next(language)"
            autocomplete="off">
        </div>
      </div>
      <button class="icon" (click)="kvpSelectedForMenu = kvp" (click)="dropKey(kvp)" matRipple>
        <i class="material-icons">delete</i>
      </button>
    </div>
  </ng-container>

  <!--KOPs-->
  <app-kop *ngFor="let _kop of kop.KOPs; trackBy: trackByKop" [kop]="_kop" [language]="language" [isBaseLanguage]="isBaseLanguage"
    (delete)="dropKop(_kop)"></app-kop>

  <!--<pre>{{kop|json}}</pre>-->
</div>