<div class="col spacer no-overflow">
  <div id="wrapper-actions" class="row inner-spacer center-items overflow-auto">
    <app-button icon="open_in_browser" (clicked)="inputImportProject.click()">import project</app-button>
    <app-button icon="save_alt" (clicked)="exportLanguages()" [disabled]="languages.length === 0">export languages</app-button>
    <app-button icon="save_alt" (clicked)="exportProject()" [disabled]="languages.length === 0">export project</app-button>
    <app-button icon="close" (clicked)="askCloseProject($event)" [disabled]="languages.length === 0">close project</app-button>
    <app-button (clicked)="openDonationDialog()">support/contact</app-button>
    <app-button #buttonDebug *ngIf="!environment.production" icon="bug_report" (clicked)="test($event, buttonDebug.elementRef)">test</app-button>
  </div>
  <div id="wrapper-actions-mobile">
    <button class="icon" type="button" [matMenuTriggerFor]="menu" matRipple>
      <i class="material-icons">menu</i>
    </button>
  </div>
  <div *ngIf="showLanguageCreator === true || languages.length === 0" [@collapse] (@collapse.done)="showLanguageCreator ? inputNameLanguage.focus() : null">
    <form id="language-creator" [formGroup]="formLanguage" (ngSubmit)="createNewLanguage()">
      <div class="row inner-spacer center-items">
        <div class="grow primary">Create Language</div>
        <button type="button" class="icon" *ngIf="languages.length > 0" (click)="showLanguageCreator = false" matRipple>
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="col spacer">
        <div>
          <input #inputNameLanguage class="max-width" type="text" formControlName="name" placeholder="Name (eg: English)"
            autocomplete="off">
          <ng-container *ngIf="formLanguage.controls['name'].errors != null">
            <div class="error" *ngIf="formLanguage.controls['name'].errors['required']" [@collapse]>Required</div>
            <div class="error" *ngIf="formLanguage.controls['name'].errors['forbiddenName']" [@collapse]>Exists already</div>
          </ng-container>
        </div>
        <div>
          <input class="max-width" type="text" formControlName="fileName" placeholder="File's name (eg: en)"
            autocomplete="off">
          <div *ngIf="((formLanguage.controls['fileName'].value?.length === 0 || formLanguage.controls['fileName'].value == null) && formLanguage.controls['name'].value?.length > 0) || formLanguage.controls['fileName'].value?.length > 0"
            [@collapse]>
            <div class="secondary-text" *ngIf="(formLanguage.controls['fileName'].value?.length === 0 || formLanguage.controls['fileName'].value == null) && formLanguage.controls['name'].value?.length > 0">
              Default value will be used: {{formLanguage.controls['name'].value}}.json
            </div>
            <div class="secondary-text" *ngIf="formLanguage.controls['fileName'].value?.length > 0">
              File's name: {{formLanguage.controls['fileName'].value}}.json
            </div>
          </div>
        </div>
        <div>
          <app-button icon="add" [isSubmit]="true" [disabled]="formLanguage.invalid">create new language</app-button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="languages.length > 0" @fade>
    <div id="wrapper-tabs" class="row overflow-auto">
      <div class="row inner-spacer center-items" [class.selected]="language == selectedLanguage" [class.clickable]="selectedLanguage != language"
        *ngFor="let language of languages" (click)="selectedLanguage = language">
        <div *ngIf="language != baseLanguage" class="status" [class.success]="language == baseLanguage || language.errorCount == 0"
          [class.error]="language.errorCount > 0"></div>
        <span>{{language.name}}</span>
        <ng-container *ngIf="language == baseLanguage">*</ng-container>
      </div>
      <i class="material-icons clickable" *ngIf="showLanguageCreator == false" (click)="showLanguageCreator = true"
        @fade>add</i>
    </div>

    <div id="language" class="col inner-spacer overflow-auto" *ngIf="selectedLanguage != null">
      <div>
        <button class="icon" (click)="showLanguageSettings = !showLanguageSettings" matRipple>
          <i class="material-icons">settings</i>
          <i class="material-icons">{{showLanguageSettings ? 'expand_less' : 'expand_more'}}</i>
        </button>
      </div>
      <!--
      <div *ngIf="showLanguageSettings" [@collapse]>
        File: <span contenteditable="true" (input)="onChange($event)">{{selectedLanguage.fileName}}</span>.json
      </div>
      -->
      <div *ngIf="showLanguageSettings" [@collapse]>
        File:
        <app-content-editable [variable]="selectedLanguage.fileName" (change)="this.selectedLanguage.fileName = $event"></app-content-editable>.json
      </div>
      <div class="row inner-spacer center-items">
        <app-button icon="open_in_browser" (clicked)="uploader.click()">import language</app-button>
        <app-button icon="save_alt" (clicked)="exportLanguage(selectedLanguage)">export language</app-button>
        <app-button icon="delete" (clicked)="askDeleteLanguage($event)">delete language</app-button>
        <app-button *ngIf="selectedLanguage != baseLanguage" icon="star" (clicked)="askSetBaseLanguage($event)">
          set as base language
        </app-button>
      </div>
      <app-kop [kop]="selectedLanguage.kop" [language]="selectedLanguage.name" [isBaseLanguage]="selectedLanguage == baseLanguage">Root</app-kop>
      <!--
      <pre>{{selectedLanguage.kop|json}}</pre>
      -->
    </div>
  </div>
</div>




<mat-menu #menu="matMenu">
  <button class="row inner-spacer" (click)="inputImportProject.click()" mat-menu-item>
    <i class="material-icons">open_in_browser</i>
    <span>import project</span>
  </button>
  <button class="row inner-spacer" (click)="exportLanguages()" [disabled]="languages.length === 0" mat-menu-item>
    <i class="material-icons">save_alt</i>
    <span>export languages</span>
  </button>
  <button class="row inner-spacer" (click)="exportProject()" [disabled]="languages.length === 0" mat-menu-item>
    <i class="material-icons">save_alt</i>
    <span>export project</span>
  </button>
  <button class="row inner-spacer" (click)="askCloseProjectByDialog()" [disabled]="languages.length === 0"
    mat-menu-item>
    <i class="material-icons">close</i>
    <span>close project</span>
  </button>
  <button (click)="openDonationDialog()" mat-menu-item>
    <span>support/contact</span>
  </button>
</mat-menu>

<input #uploader type="file" (change)="importLanguage($event)" accept=".json" hidden>
<input #inputImportProject type="file" (change)="importProject($event)" accept=".json" hidden>