@import 'src/framework.scss';
@import 'src/variables.scss';
@import 'src/material-theme.scss';
html {
  overflow-y: scroll;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #37474F;
  color: #fff;
}
* {
  user-select: none;
  &:focus {
    outline: none;
  }
  &[matRipple] {
    position: relative;
  }
}
span {
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  height: 32px;
  padding: 0 8px;
  color: rgba($color: #000000, $alpha: .87);
  font-size: 1em;
  border-radius: 4px;
  min-width: 150px;
  background-color: #CFD8DC;
  border: none;
}
button {
  cursor: pointer;
  font-size: 1em;
  background-color: transparent;
  border: none;
  &.text {
    color: $accent;
    min-height: 32px;
    padding: 0;
  }
  &.icon {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 16px; //color: $accent;
    color: $accent;
    &:disabled {
      color: #9E9E9E;
      cursor: not-allowed;
    }
  }
  span {
    text-transform: capitalize;
    //color: rgba($color: #000000, $alpha: .54);
    white-space: nowrap;
  }
}
pre {
  overflow: auto;
}
.primary-text {
  color: $color-text-disabled;
}
.secondary-text {
  color: $color-text-secondary;
}
.disabled-text {
  color: $color-text-disabled;
}
.primary {
  color: $primary;
}
.accent {
  color: $accent;
}
.error {
  color: $error;
}
.success {
  color: $success;
}
.padding {
  padding: 8px;
}
.mono {
  font-family: 'Roboto Mono', monospace;
}
.material-icons {
  vertical-align: middle;
}
.bold {
  font-weight: bold;
}