$primary: #72e8ff;
$accent: #ffcf97;
$error: #ff6f80;
$success: #89ff9b;
$color-text-primary: rgba($color: #fff, $alpha: 1);
$color-text-secondary: rgba($color: #fff, $alpha: .75);
$color-text-disabled: rgba($color: #fff, $alpha: .50);